.row
  .col.col-md-8
    p.device-header #{data.name} (#{data.device})
  .col.col-md-4.text-center

p.
.row
  .col.col-md-8
    .card
      .card-header About this device
      .card-body!= data.about 
    .card(style="margin-top: 20px")
      .card-header Install with UBports installer
      .card-body
        .row.align-items-center
          .col.col
            img.item-center.wide-img.rounded.shadow(src="/img/ubpi.jpg")
          .col.col
            .text-center Installing Ubuntu touch on your #{data.name} has never been easier!
            .text-center(style="margin-top: 15px")
              a.button.btn.btn-primary.btn-xl(type="button", href="/install") Install Ubuntu touch
    .card(style="margin-top: 20px")
      .card-header Bugs and Source code
      .card-body
        .row
          .col.text-center
            p All the source code for this device can be found on GitHub
            a.button.btn.btn-primary(type="button", href="https://github.com/ubports?utf8=%E2%9C%93&q="+data.device+"&type=&language=") 
              | See source code
              span.fab.fa-github.fab-space
          .col.text-center
            p List all bug assined to this device on Github
            a.button.btn.btn-primary(type="button", href="https://github.com/ubports/ubuntu-touch/labels/device%3A%20"+data.device)
              | See bugs
              span.fab.fa-github.fab-space
          .col.text-center
            p Create a new bug report on Github
            a.button.btn.btn-primary(type="button", href="https://github.com/ubports/ubuntu-touch/issues/new") 
              | Create bug report
              span.fab.fa-github.fab-space
    .card(style="margin-top: 20px")
      .card-header Donate
      .card-body
        .row
          .col.col-lg-3.text-center
            span.fab.fa-paypal.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="https://www.paypal.me/ubports") PayPal
          .col.col-lg-3.text-center
            span.fab.fa-bitcoin.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="", data-toggle="modal" data-target="#bitcoinModial") Bitcoin
          .col.col-lg-3.text-center
            img(style="margin-bottom: 13px; width: 80px; height: 80px;", src="/img/lp-grey.png")
            br
            a.btn.btn-default(href="https://liberapay.com/UBports/") Liberapay
          .col.col-lg-3.text-center
            span.fab.fa-patreon.fa-5x(style="margin-bottom: 13px")
            br
            a.btn.btn-default(href="https://www.patreon.com/ubports") Patreon

  .col.col-md-4
    .text-center
      img.tall-img(src=data.image)
    .card(style="margin-top: 20px")
      .card-header Release and Stats
      .card-body
        | Latest stable release: 2017-12-21 
        br
        | Latest release candidate: 2018-01-10 
        br
        | Latest development release: 2018-01-24
        //- | This device is nr 2 most used device with 1000 downloads
